* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-size: 12px;
    font-weight: 400;
    color: #001333;
}

/* font-family: 'PT Mono', monospace; */
.header {
    background-color: #001333;
}
.container {
    width: 800px;
    margin: 0 auto;
    padding: 50px 52px 52px 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

}
.name {
    padding-bottom: 7px;
    color: white;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.bio {
    color: white;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
}
.contacts-item {
    list-style-type: none;
    padding-bottom: 10px;
}
.contacts-item:last-child {
    padding-bottom: 0;
}
.contacts-item-link {
    color: white;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
}
.fas:before {
    color: white;
    font-size: 14px;
    margin-right: 10px;
}